
dialog:not([open]) {
    display: none;
    outline: none;
}

dialog::backdrop{
    background-color: #00000080;
    outline: none;
}


dialog{
    width: 40%;
    border: none;
    padding: 2rem;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    outline: none;
 
}



.modal_header{
    display: flex;
    width: 100%;
    justify-content: end;
    padding-bottom: 1rem;

}

.open-modal{
    display: flex;
    outline: none;
    border: none;
}


.close-modal{
    display: flex;
    border: none;
    outline: none;
}

.close-modal i{
    display: flex;
 
    border: none;
    outline: none;

}
.modal_header button{
    display: flex;
    outline: none;
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.modal_header button i{
    font-size: 25px;
    cursor: pointer;
    color: #4A4A4A;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: none;
    display: flex;


}

.modal_header button i:hover{
    transform: scale(1.09);
}


.modal_body{
    display: flex;
    width: 100%;

    flex-direction: column;
    gap: 1rem;
}

.title_modal{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--color-pri-leve);
    padding: 1rem;
    border-radius: 5px;
    color: var(--color-primaria);
    font-size: 20px;
    font-weight: 600;
    gap: 1rem;

}

.title_modal i{
    font-size: 30px;
}
.conatiner_pont_modal{
    display: flex;
    flex-direction: 100%;
    justify-content: end;
    font-size: 20px;
    color: var(--color-cinza-escuro);
    align-items: center;
    gap: 10px;
    margin-top: 1rem;

}

.conatiner_pont_modal span{
    font-size: 30px;
    display: flex;
    color: var(--color-secudaria);
    font-weight: 600;
}


.shape_modal{
    display: flex;
    width: 100%;
    height: 1px;
    background-color:#f0f0f0;

}

.btn_modal_first{
    display: flex;
    width: 90%;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secudaria);
    justify-self: center;
    align-self: center;
    border-radius: 5px;
    font-size: 20px;
    gap: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: 500;

}
.btn_modal_acept{
    display: flex;
    width: 40%;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-btn-green);
    justify-self: end;
    align-self: flex-end;
    border-radius: 5px;
    font-size: 20px;
    gap: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: 500;
    margin-top: 2rem;

}

.btn_modal_first:hover{
    background-color: var(--color-se-forte);
}

.conatiner_input_modal{
    display: flex;
 
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.item_modal{
    display: flex;
    width: 90%;
    gap: 10px;
    flex-direction: column;
}

.item_modal label{
    display: flex;
    color: var(--color-cinza-escuro);
    font-size: 17px;
  
}


.item_modal input{
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    border:1px solid #d5d5d5;
    outline-color: #d5d5d5;
}

