<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../Public/css/sytle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <script src="../../Public/js/drop_tema.js" defer></script>
    <script src="../../Public/js/modal.js" defer></script>

    <title>RespostaEPerguntas</title>
</head>

<body>

    <main class="main">
        <div class="title_ranking">
            <div class="conatiner_title_ranking">
                Ranking
            </div>
        </div>
        <section class="container_voltar">
            <a href=""><i class="fa-solid fa-chevron-left"></i> Voltar</a>
        </section>
        <section class="conatiner_table_ranking">
            <div class="list_table">
                <table>
                    <tr>
                        <th></th>
                        <th>Posição</th>
                        <th>Nome Times</th>
                        <th>Pontuação Final</th>
                    </tr>
                    <tr>
                        <td>
                                <img src="../../Public/img/28766402-colagem-do-retratos-e-rostos-do-sorridente-multirracial-grupo-do-varios-diverso-pessoas-para-perfil-cenario-em-colorida-fundo-diversidade-conceito-generativo-ai-foto.jpg" alt="">
                        <td> 1° lugar</td>
                        <td>Alpha</td>
                        <td>
                            <div class="conatiner_td">8000</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <img src="../../Public/img/28766402-colagem-do-retratos-e-rostos-do-sorridente-multirracial-grupo-do-varios-diverso-pessoas-para-perfil-cenario-em-colorida-fundo-diversidade-conceito-generativo-ai-foto.jpg" alt="">
                        <td> 1° lugar</td>
                        <td>Alpha</td>
                        <td>
                            <div class="conatiner_td">8000</div>
                        </td>
                    </tr>

                </table>
            </div>


        </section>
      
    </main>
  
</body>
</html>
    
</body>
</html>